</head>
<body>
	<!--Pre Loader-->
	<div class="wrapper">
		<svg version="1.1" id="preloader" x="0px" y="0px" width="240px" height="120px" viewBox="0 0 240 120">

			<style type="text/css" >
			    <![CDATA[

			        #loop-normal { fill: none; stroke: #FDB515; stroke-width: 12 }
			        #loop-offset { display: none }

			    ]]>
			</style>

			<path id="loop-normal" class="st1" d="M120.5,60.5L146.48,87.02c14.64,14.64,38.39,14.65,53.03,0s14.64-38.39,0-53.03s-38.39-14.65-53.03,0L120.5,60.5
			L94.52,87.02c-14.64,14.64-38.39,14.64-53.03,0c-14.64-14.64-14.64-38.39,0-53.03c14.65-14.64,38.39-14.65,53.03,0z">
			    <animate attributeName="stroke-dasharray" attributeType="XML"
			        from="500, 50"  to="450 50"
			        begin="0s" dur="2s"
			        repeatCount="indefinite"/>
			    <animate attributeName="stroke-dashoffset" attributeType="XML"
			        from="-40"  to="-540"
			        begin="0s" dur="2s"
			        repeatCount="indefinite"/>  
			</path>
			  
			<path id="loop-offset" d="M146.48,87.02c14.64,14.64,38.39,14.65,53.03,0s14.64-38.39,0-53.03s-38.39-14.65-53.03,0L120.5,60.5
			L94.52,87.02c-14.64,14.64-38.39,14.64-53.03,0c-14.64-14.64-14.64-38.39,0-53.03c14.65-14.64,38.39-14.65,53.03,0L120.5,60.5
			L146.48,87.02z"/>
			  
			<animateMotion
			    dur="2s"
			    rotate="auto"
			    repeatCount="indefinite"
			    calcMode="linear"
			    keyTimes="0;1"    
			    keySplines="0.42, 0, 0.58, 1">
			    <mpath xlink:href="#loop-normal"/>
			</animateMotion>
			  
			<animateMotion             
			    dur="2s"
			    rotate="auto"
			    repeatCount="indefinite"
			    calcMode="linear"
			    keyTimes="0;1"
			    keySplines="0.42, 0, 0.58, 1">
			    <mpath xlink:href="#loop-offset"/>
			</animateMotion>  
		</svg>
	</div>


	<p style="margin-top: 4em;"></p>

	<div id="alertWindow" class="col-md-6 offset-md-3">
		<% if(error && error.length > 0) { %>
			<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong><%=error %></strong>
			</div>
		<% } %>
		<% if(success && success.length > 0) { %>
			<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong><%= success %></strong>
			</div>
		<% } %>
	</div>