<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS v4.0.0 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	    <!-- Font Awesome CSS v5.0.8 -->
	    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

		<!-- Google Fonts - Lato -->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

		<!-- Custom stylesheet -->
		<link rel="stylesheet" type="text/css" href="/styles/style.css">

		<title>Campus.IO</title>
	</head>
	<body>
		
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container">
				<% if (currentUser) { %>
					<span class="navbar-brand">
						<i class="fas fa-graduation-cap"></i> CAMPUS.IO
					</span>
				<% } else { %>
					<a class="navbar-brand" href="/">
						<i class="fas fa-graduation-cap"></i> CAMPUS.IO
					</a>
				<% } %>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<% if (currentUser) { %>
							<li class="nav-item">
								<a class="nav-link" href="/user/home">
									HOME
								</a>
							</li>
						<% } %>
					</ul>
					<ul class="navbar-nav ml-auto">
						<% if (currentUser) { %>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-user-circle"></i> <%= currentUser.firstname %>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="/user/<%= currentUser._id %>">
										<i class="fas fa-user"></i> Profile
									</a>
									<a class="dropdown-item" href="/logout">
										<i class="fas fa-sign-out-alt"></i> Logout
									</a>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>

		<p style="height: 40px;"></p>


		<div class="container">
		    <% if(error && error.length > 0) { %>
		    	<div class="alert alert-danger alert-dismissible text-center" role="alert">
		    		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    		<p><%=error %></p>
		    	</div>
		    <% } %>
		    <% if(success && success.length > 0) { %>
		    	<div class="alert alert-success alert-dismissible text-center" role="alert">
		    		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    		<p><%= success %></p>
		    	</div>
		    <% } %>
	 	</div>