<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container">
		<% if (currentUser) { %>
			<span class="navbar-brand">
				<i class="fas fa-university"></i> CAMPUS.IO
			</span>
		<% } else { %>
			<a class="navbar-brand" href="/">
				<i class="fas fa-university"></i> CAMPUS.IO
			</a>
		<% } %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<% if (currentUser) { %>
					<li class="nav-item">
						<a class="nav-link" href="/user/home">
							HOME
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/user/chatroom">
							CHATROOM
						</a>
					</li>
				<% } %>
			</ul>
			<ul class="navbar-nav ml-auto">
				<% if (currentUser) { %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="rounded-circle" src="<%= currentUser.avatar %>" height="18px" width="18px"> <%= currentUser.firstname %>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/user/show">
								<i class="fas fa-users"></i> Members
							</a>
							<a class="dropdown-item" href="/user/leaderboard">
								<i class="fas fa-list-ol"></i> Leaderboard
							</a>
							<hr>
							<a class="dropdown-item" href="/user/<%= currentUser._id %>">
								<i class="fas fa-user"></i> Profile
							</a>
							<a class="dropdown-item" href="/logout">
								<i class="fas fa-sign-out-alt"></i> Logout
							</a>
						</div>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>