<% include partials/header %>

<div class="container">
	<form class="col-md-4 offset-md-4" action="/forgot" method="POST">
		<div class="text-center">
			<i class="fas fa-graduation-cap fa-3x"></i><br>
			<span>CAMPUS.IO</span><br><br>
		</div>
		<legend>Forgot Password</legend>
		<div class="form-group">
			<label for="email">Enter your email</label>
			<input class="form-control" type="email" name="email" autofocus>
			<small class="form-text text-muted">
				Enter the e-mail linked with your account.
			</small>
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Reset Password</button>
			<a class="float-right" href="/login">Go back</a>
		</div>
	</form>		
</div>

<% include partials/footer %>