<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS v4.0.0 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	    <!-- Font Awesome CSS v5.0.8 -->
	    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

		<!-- Google Fonts - Lato -->
		<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

		<!-- Custom stylesheet -->
		<link rel="stylesheet" type="text/css" href="/styles/landing.css">

		<!-- Icon -->
		<link rel="icon" href="/images/university.png">

		<title>Campus.IO</title>
	</head>
	<body>

		<!--Pre Loader-->
		<div class="wrapper">
			<svg version="1.1" id="preloader" x="0px" y="0px" width="240px" height="120px" viewBox="0 0 240 120">

				<style type="text/css" >
				    <![CDATA[

				        #loop-normal { fill: none; stroke: #FDB515; stroke-width: 12 }
				        #loop-offset { display: none }

				    ]]>
				</style>

				<path id="loop-normal" class="st1" d="M120.5,60.5L146.48,87.02c14.64,14.64,38.39,14.65,53.03,0s14.64-38.39,0-53.03s-38.39-14.65-53.03,0L120.5,60.5
				L94.52,87.02c-14.64,14.64-38.39,14.64-53.03,0c-14.64-14.64-14.64-38.39,0-53.03c14.65-14.64,38.39-14.65,53.03,0z">
				    <animate attributeName="stroke-dasharray" attributeType="XML"
				        from="500, 50"  to="450 50"
				        begin="0s" dur="2s"
				        repeatCount="indefinite"/>
				    <animate attributeName="stroke-dashoffset" attributeType="XML"
				        from="-40"  to="-540"
				        begin="0s" dur="2s"
				        repeatCount="indefinite"/>  
				</path>
				  
				<path id="loop-offset" d="M146.48,87.02c14.64,14.64,38.39,14.65,53.03,0s14.64-38.39,0-53.03s-38.39-14.65-53.03,0L120.5,60.5
				L94.52,87.02c-14.64,14.64-38.39,14.64-53.03,0c-14.64-14.64-14.64-38.39,0-53.03c14.65-14.64,38.39-14.65,53.03,0L120.5,60.5
				L146.48,87.02z"/>
				  
				<animateMotion
				    dur="2s"
				    rotate="auto"
				    repeatCount="indefinite"
				    calcMode="linear"
				    keyTimes="0;1"    
				    keySplines="0.42, 0, 0.58, 1">
				    <mpath xlink:href="#loop-normal"/>
				</animateMotion>
				  
				<animateMotion             
				    dur="2s"
				    rotate="auto"
				    repeatCount="indefinite"
				    calcMode="linear"
				    keyTimes="0;1"
				    keySplines="0.42, 0, 0.58, 1">
				    <mpath xlink:href="#loop-offset"/>
				</animateMotion>  
			</svg>
		</div>

		<div class="text-center" id="landing-header">
 			<div class="container">
 				<i class="fas fa-university fa-9x"></i><br>
 				<h1>Welcome to CAMPUS.IO</h1>
 				<a class="btn btn-lg btn-info" href="/login">Get Started</a>
 			</div>
 		</div>
		
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

<% include partials/footer %>