<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS v4.0.0 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	    <!-- Font Awesome CSS v5.0.8 -->
	    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

		<!-- Google Fonts - Lato -->
		<link href="https://fonts.googleapis.com/css?family=Lato|Pangolin|Dosis|Quicksand" rel="stylesheet">

		<!-- Custom stylesheet -->
		<link rel="stylesheet" type="text/css" href="/styles/landing.css">

		<!-- Icon -->
		<link rel="icon" href="https://use.fontawesome.com/releases/v5.0.13/svgs/solid/university.svg">

		<title>Campus.IO</title>
	</head>
	<body>

		<div class="text-center" id="landing-header">
 			<div class="container">
 				<i class="fas fa-university fa-9x"></i><br>
 				<h1>Welcome to CAMPUS.IO</h1>
 				<a class="btn btn-lg btn-info" href="/login">Get Started</a>
 			</div>
 		</div>
		
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

<% include partials/footer %>