<% include partials/header %>
<% include partials/alert %>

<div class="container">
	<form class="col-md-4 offset-md-4" id="myForm" action="/login" method="POST">
		<div class="text-center">
			<a href="/" id="homeLogo">
				<i class="fas fa-users fa-3x"></i><br>
				<span>CAMPUS.IO</span><br><br>
			</a>
		</div>
		<legend class="text-center">Log In or <a href="/register">Create a new account</a></legend>
		<div class="form-group">
			<label for="username">USN</label>
			<input class="form-control" type="text"	name="username" id="username" autofocus>
			<small class="form-text text-muted">
				Make sure alphabets are uppercase.
			</small>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password"	name="password" id="password">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Sign In</button>
			<a class="float-right" href="/forgot">Forgot password?</a>
		</div>
	</form>
</div>

<% include partials/footer %>