<% include partials/header %>
<% include partials/alert %>

<div class="container">
	<form class="col-md-6 offset-md-3" id="myForm" action="/register" method="POST">
		<div class="text-center">
			<a href="/" id="homeLogo">
				<i class="fas fa-users fa-3x"></i><br>
				<span>CAMPUS.IO</span><br><br>
			</a>
		</div>
		<legend>Create a new account</legend>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="fname">First Name</label>
				<input class="form-control" type="text" name="fname" placeholder="John" autofocus>
				<small class="form-text text-muted">
					This gets displayed on content.
				</small>
			</div>
			<div class="form-group col-md-6">
				<label for="lname">Last Name</label>
				<input class="form-control" type="text" name="lname" placeholder="Doe">
				<small class="form-text text-muted">
					Initials or surname.
				</small>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="username">USN</label>
				<input class="form-control" type="text" name="username" placeholder="Eg. 1XX14CS055">
				<small class="form-text text-muted">
					Make sure alphabets are uppercase.
				</small>
			</div>
			<div class="form-group col-md-8">
				<label for="email">E-mail</label>
				<input class="form-control" type="email" name="email" placeholder="someone@example.com">
				<small class="form-text text-muted">
					We'll never share your email with anyone else.
				</small>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password"	name="password">
			<small class="form-text text-muted">
				Enter a password of at least 8 characters.
			</small>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Re-enter Password</label>
			<input class="form-control" type="password"	name="confirmPassword">
			<small class="form-text text-muted">
				Confirm your password by entering again.
			</small>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Submit</button>
			<a class="float-right" href="/login">Existing user? Sign In.</a>
		</div>
	</form>
</div>

<% include partials/footer %>