<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/styles/landing.css">

<% include partials/alert %>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<div class="container">
	<form class="col-md-4 offset-md-4" id="myForm" action="/reset/<%= token %>" method="POST">
		<div class="text-center">
			<a href="/" id="homeLogo">
				<i class="fas fa-university fa-3x"></i><br>
				<span>CAMPUS.IO</span><br><br>
			</a>
		</div>
		<legend>Reset Password</legend>
		<div class="form-group">
			<label for="password">New Password</label>
			<input class="form-control" type="password" name="password" autofocus="autofocus">
			<small class="form-text text-muted">
				Make sure you enter a new password you won't forget.
			</small>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Confirm Password</label>
			<input class="form-control" type="password" name="confirmPassword">
			<small class="form-text text-muted">
				Confirm your new password by re-entering it.
			</small>
		</div>
		<div class="form-group">
			<button class="btn btn-info">Update Password</button>
		</div>
	</form>
</div>

<% include partials/footer %>