<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div class="container" id="chatWindow">
	
	<ul id="messages" class="card">
		<% chats.forEach(function(chat) { %>
			<% if (!(chat.message === '')) { %>
				<li><%= chat.message %></li>
			<% } %>
		<% }); %>
	</ul>
	<form id="messageBox" action="" method="">
		<% if (currentUser.isSupport === true) { %>
			<input type="text" id="myName" value="<%= currentUser.firstname %> &#9733;" hidden="">
		<% } else { %>
			<input type="text" id="myName" value="<%= currentUser.firstname %>" hidden="">
		<% } %>
		<textarea id="myMessage" class="col-md-10" rows="4"></textarea>
		<button class="btn btn-primary col-md-1 float-right" style="height: 102px;">Send</button>
	</form>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
	<script>
		$(() => {
			var socket = io();
			$('form').submit(function() {
				var displayMessage = $('#myName').val() + ': ' + $('#myMessage').val();
				socket.emit('chat message', displayMessage);
				saveChat(displayMessage);
				$('#myMessage').val('');
				return false;
			});
			socket.on('chat message', function(msg) {
				if (msg != '') {
					$('#messages').append($('<li>').text(msg));
				}
			});
		});
		function saveChat(chatMessage) {
			$.post(document.URL, {message: chatMessage});
		}

		$(document).ready(function() {
			var scrollBar = document.getElementById("messages");
			scrollBar.scrollTop = scrollBar.scrollHeight; 
		});

	</script>

</div>

<% include ../partials/footer %>