<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div class="container" id="chatWindow">
	
	<ul id="messages" class="card backdrop">
		<% chats.forEach(function(chat) { %>
			<% if (!(chat.message === '')) { %>
				<li><%= chat.message %></li>
			<% } %>
		<% }); %>
	</ul>
	<form id="messageBox" action="" method="">
		<% if (currentUser.isSupport === true) { %>
			<input type="text" id="myName" value="<%= currentUser.firstname %> &#9733;" hidden="">
		<% } else { %>
			<input type="text" id="myName" value="<%= currentUser.firstname %>" hidden="">
		<% } %>
		<textarea id="myMessage" class="col-md-10" rows="4"></textarea>
		<button class="btn btn-info col-md-1 float-right" style="height: 102px;">Send</button>
	</form>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
	<script>
		$(() => {
			var socket = io();
			$('form').submit(function() {
				var displayMessage = $('#myName').val() + ': ' + $('#myMessage').val();
				var chatMessage = {
					author: $('#myName').val(),
					message: $('#myMessage').val(),
					displayMessage: displayMessage
				}
				socket.emit('chat message', chatMessage);
				saveChat(chatMessage);
				$('#myMessage').val('');
				return false;
			});
			socket.on('chat message', function(chatMessage) {
				if (chatMessage.message != '') {
					$('#messages').append($('<li>').text(chatMessage.displayMessage));
					var scrollBar = document.getElementById("messages");
					scrollBar.scrollTop = scrollBar.scrollHeight;
				}
			});
		});
		function saveChat(chatMessage) {
			if (chatMessage.message != '') {
				$.post(document.URL, {message: chatMessage.displayMessage});
			}
		}
		$(document).ready(function () {
			var scrollBar = document.getElementById("messages");
			scrollBar.scrollTop = scrollBar.scrollHeight; 
		});
	</script>

</div>

<% include ../partials/footer %>