<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div class="container">
    <ul class="nav nav-pills nav-justified" style="background-color: white">
        <li class="nav-item">
            <a class="nav-link active" href="/user/leaderboard">
                Overall
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/leaderboard/oop">
                Object Oriented Programming
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/leaderboard/ds">
                Data Structures
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/leaderboard/dbs">
                Databases and DBMS
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/leaderboard/nw">
                Networks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/leaderboard/os">
                Operating Systems
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/leaderboard/apt">
                General Aptitude
            </a>
        </li>
    </ul>
</div>

<div class="container backdrop myShadow">
    <div class="table-responsive table-hover">
        <table class="table">
            <thead>
                <tr align="center">
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">POINTS</th>
                </tr>
            </thead>
            <tbody>
                <% var i = 1 %>
                <% scoreBoard.forEach(function(entry) { %>
                    <tr align="center">
                        <th scope="row"><%= i++ %></th>
                        <td><%= entry.student.name %></td>
                        <td><%= (entry.points * 100).toFixed(2)   %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<% include ../partials/footer %>