<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div id="categoryDiv" hidden=""><%= category %></div>

<div class="container backdrop myShadow">
    <div class="btn-group btn-group-sm d-flex" role="group">
        <a id="all" class="btn btn-outline-secondary w-100" href="/user/leaderboard/all">
            ALL
        </a>
        <a id="oop" class="btn btn-outline-secondary w-100" href="/user/leaderboard/oop">
            OOP
        </a>
        <a id="ds" class="btn btn-outline-secondary w-100" href="/user/leaderboard/ds">
            DS
        </a>
        <a id="dbs" class="btn btn-outline-secondary w-100" href="/user/leaderboard/dbs">
            DBMS
        </a>
        <a id="nw" class="btn btn-outline-secondary w-100" href="/user/leaderboard/nw">
            NW
        </a>
        <a id="os" class="btn btn-outline-secondary w-100" href="/user/leaderboard/os">
            OS
        </a>
        <a id="apt" class="btn btn-outline-secondary w-100" href="/user/leaderboard/apt">
            APT
        </a>
    </div>
</div>

<br>
<hr>
<br>

<div class="container backdrop myShadow">
    <div class="table-responsive table-hover">
        <table id="leaderboardTable" class="table">
            <thead>
                <tr align="center">
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">POINTS</th>
                </tr>
            </thead>
            <tbody>
                <% var i = 1 %>
                <% scoreBoard.forEach(function(entry) { %>
                    <tr align="center">
                        <th scope="row"><%= i++ %></th>
                        <td><%= entry.student.name %></td>
                        <td><%= (entry.points * 100).toFixed(2)   %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% if (currentUser.isSupport) { %>
        <div class="float-right">
            <button class="btn btn-warning" id="btnExport" onclick="javascript:xport.toCSV('leaderboardTable');">
                Download
            </button>
        </div>
    <% } %>
    <br>
    <br>
</div>

<script src="/scripts/tableExport.js"></script>

<% include ../partials/footer %>