<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div class="container text-center">
	<div class="col-md-10 offset-md-1 card-header">
		<form class="col-md-12" accept="/user/show" method="GET">
			<div class="row">
				<div class="form-group col-md-12">
					<input class="form-control" id="mySearch" type="text" name="search" placeholder="Search members...">
				</div>
			</div>
		</form>
		<ul class="list-group">
			<% users.forEach(function(user) { %>
				<a class="nav-link" href="/user/<%= user._id %>">
					<li class="list-group-item">
						<img class="rounded-circle float-left" src="<%= user.avatar %>" height="7%" width="7%">
						<h4><%= user.firstname %> <%=user.lastname %></h4>
						<%	if (user._id.equals(currentUser._id)) { %>
								<h6>(Me)</h6>
						<%	} else if (user.isSupport) { %>
								<h6>(Teacher)</h6>
						<% } else { %>
								<h6>(Student)</h6>
						<% } %>
					</li>
				</a>
			<% }); %>
		</ul>
	</div>
</div>

<% include ../partials/footer %>