body {
	font-family: 'Lato', sans-serif;
	background-color: #f5f5f5;
}

a:hover {
	text-decoration: none;
}

#myForm {
	background-color: rgba(161, 161, 161, 0.75);
	border-radius: 15px;
	padding: 15px;
}

#homeLogo {
	color: #222222;
}

#homeLogo:hover {
	color: #000000;
}

#alertWindow {
	position: absolute;
	z-index: 1;
}

#messages 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#chatWindow #messages {
	height: 450px;
	overflow: hidden;
	overflow-y: scroll; 
}

#messages li { 
	padding: 10px 15px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

#messageBox {
	padding-top: 20px;
}

/*Changes done by pujith*/
.myRadioButton {
    width: 30px;
    height: 30px;
}

.overflow-hiddden{
	display:block;
	overflow: hidden;
}

.quiz-post{
	margin: 10px 20%;
}

.rounded-box{
	background-color: #BDBDBD;
	margin-top: 2%;
	padding: 2%;
}

.options{
	float: left;
}

.margin-bottom{
	margin-bottom: 2%;
}
.margin-top {
	margin-top : 2%;
}

.margin-right{
	margin-right: 2%;
}

.padding-left{
	padding-left: 12%;
}

.padding-right{
	padding-right: 2%;
}

.padding-2{
	padding: 2%; 
}
/*^Changes changes by Pujith*/