<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="/styles/landing.css">

<% include ../partials/navbar %>
<% include ../partials/alert %>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<br>
<br>
<br>

<div class="container">
	<form id="myForm" class="col-md-6 offset-md-3" action="/quiz/add" method="POST">
		<legend>Add Quiz details</legend>
		<div class="form-group">
			<label for="title">Title</label>
			<textarea class="form-control" id="exampleFormControlTextarea1"	type="text" name="title" rows="2" required="true"></textarea>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="category">Category</label>
				<select class="form-control" name="category" form="myForm" required="true">
					<option value = "">Select category</option>
					<option value = "oop">Object Oriented Programming</option>
					<option value = "ds">Data Structures</option>
					<option value = "dbs">Databases and DBMS</option>
					<option value = "nw">Computer Networks</option>
					<option value = "os">Operating Systems</option>
					<option value = "apt">General Aptitude</option>
				</select>
			</div>
		</div>
		<button class="btn btn-info" type="submit">Add Questions</button>
	</form>
</div>

<% include ../partials/footer %>