<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>
	<div class="container">
		<form class="col-md-6 offset-md-3" action="/quiz/addNewQuiz" method="POST">
			<div class="text-center">
				<i class="fas fa-graduation-cap fa-3x"></i><br>
				<span>CAMPUS.IO</span><br><br>
			</div>
			<div >
				<div class="form-group">
					<label for="title"><h1>Add Quiz Title</h1></label>
					<textarea class="form-control" 
					id="exampleFormControlTextarea1" 
					type="text" name="title" 
					rows="2" required="true"></textarea>
				</div></br>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Add Questions</button>
			</div>
		</form>
	</div>

	<% include ../partials/footer %>