<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>
<link rel="stylesheet" type="text/css" href="/styles/landing.css">

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<br>
<br>
<br>

<div class="container">
	<form id="myForm" class="col-md-6 offset-md-3" action="/quiz/addQuestions/<%= quizId %>" method="POST"> 
		<div class="overflow-hiddden">
			<div class="float-left">
				<legend>
					Add question <%= questionNo %> details
				</legend>
			</div>
			<div class="float-right">
				<a href="/quiz/preview/<%= quizId %>">
					<button class="btn btn-warning" type="button">
						Preview Quiz
					</button>
				</a>
			</div>
		</div>
		<div class="form-group">
			<label for="question">Question</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
			type="text" name="question" required="true"></textarea>
		</div>
		<div id="optionContainer"></div>
		<button id="addOption" class="btn btn-success float-left" type="button">
			Add Option
		</button>
		<div class="overflow-hiddden margin-bottom" id="removeOption" >
			<button class="btn btn-danger float-right" type="button">
				Remove Option
			</button>
		</div>
		<button class="btn btn-info float-right" type="submit">
			Next Question
		</button>
		<br>
		<br>
	</form>
</div>

<script type="text/javascript" src="/scripts/addQuestions.js"></script>

<% include ../partials/footer %>